@media only screen and (max-device-width: 500px){
	.petit{
		font-size: xx-large;
	}
}

@media only screen and (max-device-width: 350px){
	.petit{
		font-size: large;
	}
}


@media only screen and (max-device-width: 1000px){
	.col-6{
		padding: 0 5px;
		min-width: 250px;
	}
	.row{
		justify-content: center;
	}
	.col-md-4{
		display: flex;
	}
	.card-img{
		margin: auto;
	}
}

